@model IEnumerable<TrabajosGraduacion.Models.Registro>

@{
    ViewData["Title"] = "Búsqueda";
}
<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
<h1>Búsqueda de Registros</h1>
<hr />
<br />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Registros</h6>
    </div>
    <div class="card-body" style="margin-left: 30px; margin-right: 30px">
        <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Año</th>
                        <th>Facultad</th>
                        <th>Carrera</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tipo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Titulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Autor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Anio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Facultad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Carrera)
                            </td>
                        </tr>
                    }

                </tbody>
           
        </table>
    </div>
</div>

<!--JavaScript del DataTable-->
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#table_id").DataTable({
                language: {
                    "processing": "Procesando...",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "emptyTable": "Ningún dato disponible en esta tabla",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "search": "Buscar:",
                    "infoThousands": ",",
                    "loadingRecords": "Cargando...",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    }
                }
            });
        });
    </script>
}
