@model IEnumerable<TrabajosGraduacion.Models.Registro>

@{
    ViewData["Title"] = "Editar o Eliminar";
}

<h1>Editar o Eliminar Registros</h1>
<hr />
<br />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Registros</h6>
    </div>
    <div class="card-body" style="margin-left: 30px; margin-right: 30px">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Tipo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Titulo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Autor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Anio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Facultad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Carrera)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Autor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Anio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Facultad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Carrera)
                        </td>
                        <td>
                            <a asp-action="Editar" asp-route-id="@item.RegistroId">Editar</a> |
                            <a asp-action="Eliminar" asp-route-id="@item.RegistroId">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>