@model TrabajosGraduacion.Models.Registro

@{
    ViewData["Title"] = "Eliminar";
}


<h1>Eliminar Registro</h1>
<hr />
<br />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Registro</h6>
    </div>
    <div class="card-body" style="margin-left: 30px; margin-right: 30px">
        <h3>¿Estás seguro de eliminarlo?</h3>
        <div>
            <h4>Registro</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Tipo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tipo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Titulo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Titulo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Autor)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Autor)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Anio)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Anio)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Facultad)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Facultad)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Carrera)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Carrera)
                </dd>
            </dl>

            <form asp-action="Eliminar">
                <input type="hidden" asp-for="RegistroId" />
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                <a asp-action="Editar_Eliminar">Volver</a>
            </form>
        </div>
    </div>
</div>
