@model IEnumerable<TrabajosGraduacion.Models.Registro>

@{
    ViewData["Title"] = "Lista";
}

<h1>Lista de Registros</h1>

<p>
    <a asp-action="Ingresar">Crear un nuevo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facultad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrera)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facultad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrera)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RegistroId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RegistroId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RegistroId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
